.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  overflow: hidden;
}
.khan__buy-link:hover {
  color: #2f80ed;
  transition: buy-link 35s ease-in-out 25s;
  background: #fff;
  opacity: 0.44;
}
